.app-details-page {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  min-height: 100vh; 
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
}

.app-details-image {
  max-width: 300px;
  height: auto;
  margin: 1rem auto; 
}

.app-details-content {
  flex: 1;
}

.back-button {
  text-decoration: none;
  color: #007bff;
  margin-top: 2rem;
  display: inline-block;
}

.footer {
  margin-top: auto; 
  background-color: #000;
  color: white;
  text-align: center;
}
