.navbar {
  width: 100vw; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 2rem; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05)); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer; 
  color: #ddd; 
}


.logo a {
  text-decoration: none; 
  color: inherit; 
}
.nav-links {
  display: flex;
  gap: 1.8rem;
  list-style: none;
  margin-left: -140px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff; 
  font-size: 1.8rem;
  font-weight: bold;
  position: relative; 
  cursor: pointer; 
}


.nav-links li a::after {
  content: ''; 
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 0; 
  height: 2px; 
  background-color: #ffffff;
  transition: width 0.3s ease; 
}

.nav-links li a:hover::after {
  width: 100%; 
}

.hamburger-menu {
  display: none; 
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links.mobile-menu {
  display: flex; 
  flex-direction: column; 
  position: absolute;
  top: 70px; 
  right: 0;
  width: 200px;
  background: rgba(0, 0, 0, 0.8); 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.nav-links.mobile-menu li a {
  color: #ffffff; 
  margin-bottom: 1rem;
}

.nav-links.mobile-menu li:last-child {
  margin-bottom: 0;
}


.contact-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #ffffff; 
  border: 3px solid #ffffff; 
  background: transparent; 
  border-radius: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background: #fff; 
  color: #000; 
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }

  .hamburger-menu {
    display: flex; 
  }

  .contact-button {
    display: none; 
  }
}

body {
  margin: 0;
}

* {
  box-sizing: border-box; 
}
